
@{
    ViewBag.Title = "StronaGłownaKalkulatora";
}

<h2>StronaGłownaKalkulatora</h2>
@*dodawanie
<form action="/Kalkulator/Dodaj">
    pierwsza liczba<br>
    <input type="number" id="a" name="a"><br>
    druga liczba<br>
    <input type="number" id="b" name="b"><br>


<div style="margin-top:10px">
<input type="submit" value="wynik">

    </div>
</form>

odejmowanie
<form action="/Kalkulator/Odejmij">
    pierwsza liczba<br>
    <input type="number" id="a" name="a"><br>
    druga liczba<br>
    <input type="number" id="b" name="b"><br>


    <div style="margin-top:10px">
        <input type="submit" value="wynik">

    </div>
</form>

mnożenie
<form action="/Kalkulator/Mnoz">
    pierwsza liczba<br>
    <input type="number" id="a" name="a"><br>
    druga liczba<br>
    <input type="number" id="b" name="b"><br>


    <div style="margin-top:10px">
        <input type="submit" value="wynik">

    </div>
</form>

dzielenie
<form action="/Kalkulator/Dziel">
    pierwsza liczba<br>
    <input type="number" id="a" name="a"><br>
    druga liczba<br>
    <input type="number" id="b" name="b"><br>


    <div style="margin-top:10px">
        <input type="submit" value="wynik">

    </div>
</form>*@


liczenie
<form action="/Kalkulator/Oblicz">
    pierwsza liczba<br>
    <input type="number" id="pierwszaliczba" name="pierwszaliczba"><br>
    druga liczba<br>
    <input type="number" id="drugaliczba" name="drugaliczba"><br>
    
    <br>

    <input type="text" name="typdzialania" id="typdzialania" />

    <div style="margin-top:10px">
        <input type="checkbox" name="typdzialania" id="typdzialania" value="dodawanie"> dodawanie<br>
        <input type="checkbox" name="typdzialania" id="typdzialania" value="odejmowanie">odejmowanie<br>


        
        <input type="submit" value="wynik">

    </div>
</form>